<html>
<head>
	<title>Malcicite</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body style="background-color: #00b3ff; color: white;">
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1726ad; color: white;">
		<div class="container" style="color: white;">
		<a style="color: white;" class="navbar-brand" href="#">Malacite</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a style="color: white;" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a style="color: white;" class="nav-link" href="/about">About</a>
			</li>
		  </ul>
		</div>
		</div>
	</nav>
	<div class="container" style="padding-top: 100px;">
		<h3 style="text-align: center; margin-bottom: 30px; font-size: 50px;"> URL submitted by you is : <a href="{{ url }}">{{ url }}</a> </h3>
		<h3 style="text-align: center; font-size: 50px; width: 100%;"> This URL is predicted to be <span style="color: #1548bf;">{{ status }}</span> </h3>
		<a style="font-size: 30px; color: white; text-align: center;" href="/">Block Website</a>
	</div>
	<div class="container">
	<h5 style="font-size: 20px; margin-top: 30px;">Signs of a Malicious Website</h5>
	<ul style="font-size: 20px;">
		<li>The website asks you to download software, save a file, or run a program</li>
		<li>Visiting the website automatically launches a download window</li>
		<li>You are asked to download an invoice or receipt, such as a PDF file, .zip or .rar, or an executable file or .scr screensaver file</li>
		<li>Your computer is already infected with malware</li>
		<li>Your plug-ins or browser are out of date</li>
	</ul>
	<h5 style="font-size: 20px; margin-top: 20px; padding-bottom: 30px;">If you find any suspicious activity, you can report it to Google by clicking on this <a href="https://safebrowsing.google.com/safebrowsing/report_badware/?hl=en">link</a></h5>
	</div>
</body>
</html>


